<html>
  <head>
    <title>Add</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/add">Add</a></li>

      <li><a href="/updateList">Update</a></li>

      <li><a href="/deleteList">Delete</a></li>

      <li><a href="/list">List</a></li>
      <li><a href="/emi">Calculate EMI</a></li>
    </ul>

    <h1>
      <b
        ><center><i>Add Mobile Accessories</i></center></b
      >
    </h1>
    <div class="container">
      <form action="/create" method="POST" id="add">
        <label for="mtype"
          ><b>Accessories Name:</b><span class="required">*</span></label
        ><br />
        <input
          type="text"
          placeholder="e.g. Charger"
          name="mtype"
          id="mtype"
          required
        />
        <br />
        <br />

        <label for="mname"
          ><b>Model Name:</b><span class="required">*</span></label
        ><br />
        <input
          type="text"
          placeholder="e.g.Samsung-Charger"
          name="mname"
          id="mname"
          required
        />
        <br />
        <br />

        <label for="mnumber"
          ><b>Model Number:</b><span class="required">*</span></label
        ><br />
        <input
          type="text"
          placeholder="e.g. S123"
          name="mnumber"
          id="mnumber"
          required
        /><br />
        <br />

        <label for="price"><b>Price:</b><span class="required">*</span></label
        ><br />
        <input
          type="number"
          placeholder="Enter price"
          name="price"
          id="price"
          required
        /><br />
        <br />

        <label for="date"
          ><b>Launch Date:</b><span class="required">*</span></label
        ><br />
        <input
          type="date"
          placeholder="Enter Launch Date"
          name="launchdate"
          id="launchdate"
          required
        /><br />
        <br />
        <span class="required">*</span><i>Required</i>

        <button id="btn" type="submit" name="submit" required>Submit</button>
      </form>
    </div>
    <script>
      if ("<%= action %>" == "Added") {
        alert("Added Successfully");
      }
      if ("<%= action %>" == "Invalid") {
        alert("Accessories already exist");
      }
    </script>
  </body>
</html>
